In [5]:
from google.colab import files
uploaded = files.upload()

Saving compas-scores-two-years.xlsx to compas-scores-two-years.xlsx

In [31]:
import pandas as pd
import io
compas_scores = pd.read_excel(io.BytesIO(uploaded['compas-scores-two-years.xlsx']))

In [33]:
compas_scores[(compas_scores["race"]=="Caucasian")]

         id              name        first  ...   end event two_year_recid
6         8     edward riddle       edward  ...    40     1              1
8        10  elizabeth thieme    elizabeth  ...   747     0              0
9        13         bo bradac           bo  ...   428     1              1
10       14    benjamin franc     benjamin  ...   857     0              0
12       16   kortney coleman      kortney  ...  1186     0              0
...     ...               ...          ...  ...   ...   ...            ...
7192  10972        matt munoz         matt  ...   932     0              0
7194  10976     arleen martin       arleen  ...   351     1              1
7199  10982     austin harris       austin  ...   913     0              0
7205  10990   christopher tun  christopher  ...    52     0              1
7206  10992    alexander vega    alexander  ...   654     1              1

[2454 rows x 53 columns]

In [43]:
df = compas_scores[(compas_scores["race"]=="African-American") | (compas_scores["race"]=="Caucasian")]
df["race"] = df["race"].astype('category').cat.codes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
df

         id              name      first  ...   end event two_year_recid
1         3       kevon dixon      kevon  ...   159     1              1
2         4          ed philo         ed  ...    63     0              1
3         5       marcu brown      marcu  ...  1174     0              0
6         8     edward riddle     edward  ...    40     1              1
8        10  elizabeth thieme  elizabeth  ...   747     0              0
...     ...               ...        ...  ...   ...   ...            ...
7207  10994      jarred payne     jarred  ...   529     1              1
7208  10995      raheem smith     raheem  ...   169     0              0
7209  10996     steven butler     steven  ...   860     0              0
7210  10997   malcolm simmons    malcolm  ...   790     0              0
7212  11000       farrah jean     farrah  ...   754     0              0

[6150 rows x 53 columns]

In [84]:
features = (df[["race", "juv_fel_count", "decile_score", "juv_misd_count", "juv_other_count", "priors_count", "is_violent_recid"]]).to_numpy()
target = (df[["two_year_recid"]]).to_numpy()

In [46]:
def alg3(X, e):
  X1={}
  k=len(set(X[e]))
  for x in set(X[e]): 
    index = X.index
    condition = (X[e] == x)
    indices = index[condition]
    indices_list = indices.tolist()
    X1[x] = indices_list
  return X1

In [90]:
def alg4(Xi, race):
  G = len(Xi["race"]==race)
  Per = (len(Xi[(df["race"]==race) & (Xi["two_year_recid"]==1)])) / (len(Xi[(Xi["race"]==race)]))
  Per2 = (len(Xi[(df["race"]!=race) & (Xi["two_year_recid"]==1)])) / (len(Xi[(Xi["race"]!=race)]))
  Pe = (Per + Per2) / 2
  return G*abs(Per - Pe)

In [93]:
len(target)

6150

In [108]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import numpy as np
import math

def lps(X, y):
  X_train, X_test, y_train, y_test = train_test_split(X, y.reshape(len(y)), test_size=0.3,random_state=109)
  clf = LogisticRegression(random_state=42)
  clf.fit(X_train, y_train)
  pp = clf.predict_proba(X)
  X = np.append(X, pp[:, 0].reshape(len(pp), 1), axis=1)
  X = np.append(X, pp[:, 1].reshape(len(pp), 1), axis=1)
  
  # Append X and y to make following manipulations easier
  X = np.append(X, y, axis=1)

  # Delete African Americans closest to the boundary predicted "1" and replicate African Americans closest to the boundary predicted "0"
  X0 = X[X[:, 0]==0,]
  tc = len(X0)
  delta_aa = math.floor(0.5*alg4(df, 0))
  count1 = len(X0[:, -1][X0[:, -1]>=0.5])
  count0 = len(X0[:, -2][X0[:, -2]>=0.5])
  indices1 = np.argsort(X0[:, -1])[tc-count1:tc]
  indices0 = np.argsort(X0[:, -2])[tc-count0:tc]
  delete = indices1[0:delta_aa]
  replicate = indices0[0:delta_aa]
  rep = [1]*tc
  for i in replicate:
    rep[i]=2
  for i in delete:
    rep[i]=0
  X0 = np.repeat(X0, repeats = rep, axis=0)

  # Delete Caucasians closest to the boundary predicted "0" and replicate Caucasians closest to the boundary predicted "1"
  X1 = X[X[:, 0]==1,]
  tc = len(X1)
  delta_aa = math.floor(0.5*alg4(df, 1))
  count1 = len(X1[:, -1][X1[:, -1]>=0.5])
  count0 = len(X1[:, -2][X1[:, -2]>=0.5])
  indices1 = np.argsort(X1[:, -1])[tc-count1:tc]
  indices0 = np.argsort(X1[:, -2])[tc-count0:tc]
  replicate = indices1[0:delta_aa]
  delete = indices0[0:delta_aa]
  rep = [1]*tc
  for i in replicate:
    rep[i]=2
  for i in delete:
    rep[i]=0
  X1 = np.repeat(X1, repeats = rep, axis=0)
  X = np.append(X0, X1, axis=0)
  return X

In [109]:
output = lps(features, target)
X_final = np.delete(output, -1, axis=1)
y_final = output[:, -1]

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size=0.3,random_state=109)
clf = LogisticRegression(random_state=12, max_iter=1000)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [117]:
metrics.accuracy_score(y_test, y_pred)

0.7053376906318083